{erl_opts, [
    warn_export_all,
    warn_missing_spec,
    %warnings_as_errors,
    debug_info
]}.
{xref_checks, [
    undefined_function_calls,
    deprecated_function_calls,
    locals_not_used
]}.
{sub_dirs, ["rel"]}.
{deps, [
    {alley_common, ".*", {git, "https://github.com/PowerMeMobile/alley_common", {branch, "master"}}},
    {alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", {branch, "master"}}},
    {billy_client, ".*", {git, "https://github.com/PowerMeMobile/billy_client.git", "HEAD"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
    {cowboy, ".*", { git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
    {libuuid, "1.0.0", {git, "https://github.com/iamaleksey/libuuid.git", {branch, "master"}}},
    {rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", {tag, "2.0.0"}}},
    {gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},

    {sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}},
    {entop, "0.0.1", {git, "https://github.com/mazenharake/entop.git", {branch, "master"}}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, "master"}}},
    {etest_http, ".*", {git, "https://github.com/ten0s/etest_http.git", "HEAD"}}
]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
