{erl_opts, [debug_info]}.
{sub_dirs, [
		"rel",
		"subapps/eoneapi",
		"subapps/k1api"
]}.
{deps, [
	{sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}},
    {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git", {branch, "master"}}},
	{eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}},
	{etest_http, ".*", {git, "https://github.com/AntonSizov/etest_http.git", "HEAD"}}
]}.
{deps_dir, ["deps"]}.
{lib_dirs, ["deps", "subapps"]}.

{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.
