{erl_first_files, ["eoa_sms_handler.erl"]}.
{deps, [
	{cowboy, ".*", { git, "https://github.com/extend/cowboy.git", {tag, "0.6.0"}}},
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{iso8601, ".*", {git, "https://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1"}}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}}
]}.
