{deps, [
	{gproc, ".*", { git, "https://github.com/uwiger/gproc.git", "HEAD"} },
	{lager, ".*", {git, "https://github.com/basho/lager.git", "HEAD"}},
	{amqp_client, ".*", {git, "git://github.com/iamaleksey/amqp_client.git", {branch, "master"}}},
	{gen_wp, ".*", {git, "git@github.com:AntonSizov/gen_wp.git", "HEAD"}}
]}.
