{erl_opts, [
	{parse_transform, lager_transform}
]}.
{deps, [
	{uuid, ".*", {git, "git://github.com/PowerMeMobile/uuid.git", "HEAD"}},
	{alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", {branch, "feature/as_k1api_support_16396"}}},
	{rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", "HEAD"}},
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{gen_wp, ".*", {git, "https://github.com/AntonSizov/gen_wp.git", "HEAD"}},
    {gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},
	{billy_client, ".*", {git, "git0sis@sus.dev1team.net:billy_client.git", "HEAD"}},
	eoneapi
]}.
