{erl_opts, [
	{parse_transform, lager_transform}
]}.
{deps, [
	{libuuid, "1.0.0", {git, "git://github.com/iamaleksey/libuuid.git", {branch, "master"}}},
	{alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", {branch, "master"}}},
	{rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", {branch, "develop"}}},
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},
	{billy_client, ".*", {git, "git@github.com:PowerMeMobile/billy_client.git", "HEAD"}},
	eoneapi
]}.
