{cover_enabled, true}.
{erl_opts, [
	{parse_transform, lager_transform},
	warn_missing_spec,
   	debug_info
   	]}.
{asn1_opts, [ber_bin, optimize, asn1config]}.
{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager.git", "HEAD"}},
	{amqp_client, ".*", {git, "git://github.com/iamaleksey/amqp_client.git", "HEAD"}},
	{gen_wp, ".*", {git, "https://github.com/AntonSizov/gen_wp.git", "HEAD"}},
	eoneapi,
	oa_proto
]}.
