[
{k1api, [
    {http_addr, {0,0,0,0}},
    {http_port, 8081},
	{http_acceptors_num, 1},
	{request_timeout, 5},
    {kelly_auth_queue,           <<"pmm.alley.kelly.auth">>},
    {delivery_status_req_queue,  <<"pmm.alley.oneapi.delivery_status_request">>},
    {delivery_status_resp_queue, <<"pmm.alley.oneapi.delivery_status_response">>},
    {subscription_req_queue,     <<"pmm.alley.oneapi.subscription_request">>},
    {subscription_resp_queue,    <<"pmm.alley.oneapi.subscription_response">>},
    {retrieve_sms_req_queue,     <<"pmm.alley.oneapi.retrieve_sms_request">>},
    {retrieve_sms_resp_queue,    <<"pmm.alley.oneapi.retrieve_sms_response">>},
    {sms_request_queue,          <<"pmm.alley.kelly.request.sms">>},
    {just_gateway_queue_fmt,     <<"pmm.alley.just.gateway.%id%">>},
    {incoming_sms_queue,         <<"pmm.alley.oneapi.incoming.sms">>}
]},
{rmql, [
	{amqp_props, [
			{host, "127.0.0.1"},
			{port, 5672},
			{vhost, <<"/">>},
			{username, <<"guest">>},
			{password, <<"guest">>},
			{qos, 100}
	]}
]},
{billy_client, [
    {enabled, false},
    {host, "127.0.0.1"},
	{port, 16062},
	{username, <<"oneapi">>},
	{password, <<"oneapi">>}
]},
{lager, [
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"log/debug.log", debug, 10485760, "$D0", 5},
			{"log/error.log", error, 10485760, "$D0", 5},
			{"log/info.log", info, 10485760, "$D0", 5}
		]}
	]},
	{crash_log, "log/crash.log"},
	{crash_log_msg_size, 65536},
	{crash_log_size, 10485760},
	{crash_log_date, "$D0"},
	{crash_log_count, 5},
	{error_logger_redirect, true}
]},
{eoneapi, [
	{customer_user_delimiter, <<"@">>}
]}
].
