[
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
{lager, [
	{handlers, [
		{lager_console_backend, debug},
		{lager_file_backend, [
			{"log/debug.log", debug, 10485760, "$D0", 5},
			{"log/error.log", error, 10485760, "$D0", 5},
			{"log/console.log", info, 10485760, "$D0", 5}
		]}
	]},
	{crash_log, "log/crash.log"},
	{crash_log_msg_size, 65536},
	{crash_log_size, 10485760},
	{crash_log_date, "$D0"},
	{crash_log_count, 5},
	{error_logger_redirect, false}
]},
{oa_backend_connector, [
	{amqp_connection,{
		"127.0.0.1", 	% host
		5672,			% port
		<<"/">>, 		% exchange
		<<"guest">>, 	% user
		<<"guest">> 	% password
	}},
	
	{auth_req_q, <<"pmm.k1api.auth_req">>},
	{auth_resp_q, <<"pmm.k1api.auth_resp">>},

	{batches_q, <<"pmm.k1api.batches">>},

	{incoming_q, <<"pmm.k1api.incoming">>},

	{server_control_q, <<"pmm.k1api.server_control">>},

	{backend_control_q, <<"pmm.kelly.server_control">>},

	{queue_gateway_prefix, <<"pmm.just.gateway">>}


	%{queue_backend_auth, <<"pmm.mmwl.funnel_auth">>},
	%{queue_backend_config, <<"pmm.mmwl.funnel_config">>},
	%{queue_server_control, <<"pmm.k1api.control">>},
	%{queue_server_control_qos, 500},
	%{queue_backend_batches, <<"pmm.mmwl.funnel_batches">>},
	%{queue_backend_events, <<"pmm.mmwl.funnel_events">>},
	%{queue_server_nodes_prefix, "pmm.funnel.nodes"},
	%{queue_server_subsciptions, <<"pmm.k1api.subscriptions">>},

	%{connection_mode, subscriptions} %% :: nodes | subscriptions
]},
{eoneapi, [
	{sysid_user_delimiter, <<"@">>}
]}
].

%{queue_backend_auth, "pmm.mmwl.funnel_auth"}.
%{queue_backend_config, "pmm.mmwl.funnel_config"}.
%{queue_backend_events, "pmm.mmwl.funnel_events"}.
%{queue_backend_batches, "pmm.mmwl.funnel_batches"}.
%{queue_server_control, "pmm.funnel.server_control"}.
%{queue_nodes_prefix, "pmm.funnel.nodes"}.
%{queue_gateway_pattern, "pmm.just.gateway.%id%.%prio%"}.
